{% extends 'base.html.twig' %}

{% block title %}Test Ingénierie - Bienvenue{% endblock %}



{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
{% endblock %}
    
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 header"></div>
        </div>
        <div class="row mb-5 mt-5">
            <div class="col-md-5">
                <h2 class="mt-2 ms-5 head">Compétences</h2>
            </div>
            <div class="col-md-7">
                <h2 class="head mt-2">Bienvenue</h2>
            </div>
        </div>   
        <div class="row mb-5">
            <div class="col-md-5">
                <div class="nav-competences">
                    <ul>
                        <li><a href="{{ path('assainissements') }}"><img src="{{ asset('assets/img/1.png') }}" height="125px"  alt=""></a></li>
                        <li><a href="{{ path('dossiers') }}"><img src="{{ asset('assets/img/2.png') }}" height="125px"  alt=""></a></li>
                        <li><a href="{{ path('hydrologies') }}"><img src="{{ asset('assets/img/3.png') }}" height="125px"  alt=""></a></li>
                        <li><a href="{{ path('eau') }}"><img src="{{ asset('assets/img/4.png') }}" height="125px"  alt=""></a></li>
                        <li><a href=""><img src="{{ asset('assets/img/5.png') }}" height="125px"  alt=""></a></li>
                        <li><a href=""><img src="{{ asset('assets/img/6.png') }}" height="125px"  alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="description">
                    <p>TEST Ingénierie est un bureau d’étude indépendant, créé en 1995, qui rassemble des compétences reconnues dans le domaine de l’eau et de l’assainissement : missions complètes de maîtrise d’œuvre de travaux ; assistance à maîtrise d’ouvrage ; études de diagnostic et de schéma directeur ; dossiers réglementaires……</p>
                    <p>Forte de plus de deux décennies d’expérience, elle a développé un savoir faire adapté aux petites et moyennes collectivités, aux aménageurs, aux particuliers, ainsi qu’aux professionnels.</p>
                </div>
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for slide in slides %} 
                            <div class="carousel-item {% if slide.id == 1 %} active {% else %} '' {% endif %}">
                                <img src="{{ asset('assets/slider/img/') ~ slide.illustration }}"  class="d-block w-100" alt="{{ slide.title }}">
                            </div>
                            {% endfor %}
                            {# <div class="carousel-item">
                                <img src="{{ asset('assets/img/test.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test2.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test3.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test4.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test5.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test6.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test7.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test8.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test9.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test10.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test11.jpg') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('assets/img/test12.jpg') }}" class="d-block w-100" alt="...">
                            </div> #}
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid actus">
        <div class="row pt-5">
            <div class="col-md-12">
                <h1 class="text-center head-title">Actualités</h1>
            </div>
        </div>   
        <div class="row mt-5 pb-5 mx-auto cards animate__animated animate__zoomIn">
        {% for article in articles %}
            
        
            <div class="col-md-3 col-sm-2 mx-auto">
                <div class="card boite" style="width: 20rem;">
                    <img src="{{ asset('assets/articles/img/') ~ article.illustration }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre}}</h5>
                        <p class="card-text">{{ article.description|striptags|u.truncate(100, '...')|raw }}</p>
                        <a href="{{ path('actualites_detail', {'slug': article.slug}) }}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
        <div class="row my-auto">
            <div class="col-md-3 mx-auto">
                <a href="{{ path('blog')}}" class="btn btn-primary mb-5 bouton">Voir nos actualités</a>
            </div>
        </div>
    </div>
    

{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>

{% endblock %}
