{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi - Test Ingénierie{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/assain.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>


{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
            <div class="col-md-12 header"></div>
    </div>
    <div class="row mb-5 mt-5">
        <div class="col-md-4">
            <h2 class="mt-2 ms-5 head">Compétences</h2>
        </div>
        <div class="col-md-7">
            <h2 class="head mt-2">Offres d'emploi</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="nav-competences2">
                <ul>
                    <li><a href="{{ path('assainissements') }}"><img src="{{ asset('assets/img/1.png') }}" height="125px"  alt=""></a></li>
                    <li><a href="{{ path('dossiers') }}"><img src="{{ asset('assets/img/2.png') }}" height="125px"  alt=""></a></li>
                    <li><a href="{{ path('hydrologies') }}"><img src="{{ asset('assets/img/3.png') }}" height="125px"  alt=""></a></li>
                    <li><a href="{{ path('eau') }}"><img src="{{ asset('assets/img/4.png') }}" height="125px"  alt=""></a></li>
                    <li><a href=""><img src="{{ asset('assets/img/5.png') }}" height="125px"  alt=""></a></li>
                    <li><a href=""><img src="{{ asset('assets/img/6.png') }}" height="125px"  alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 d-flex justify-content-between">
        {% if emplois == null %}
            <h5 class="text-center mt-5">Il n'y a pas d'offres publiées pour le moment</h5>
        {% else %}
            {% for emploi in emplois %}
                <div class="card" style="width: 18rem; height: 400px;">
                    <img src="{{ asset('assets/img/test1.jpg')}}" class="card-img-top" alt="{{ emploi.titre}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ emploi.titre }}</h5>
                        <p class="card-text">{{ emploi.description|striptags|u.truncate(50, '...')|raw }}</p>
                        <a href="{{ path('emplois_detail', {'slug': emploi.slug}) }}" class="btn btn-primary">Voir l'offre</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %} 
        </div>
    </div>
</div>

{% endblock %}
