{% extends 'baseAdmin.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/assainform.css') }}">

{% endblock %}

{% block body %}

<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
          <!-- Breadcrumb-v1 -->
          <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
            <ul class="u-list-inline g-color-gray-dark-v6">

              <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Rendez-vous</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
              </li>

              <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Créer un rendez-vous</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
              </li>
            </ul>
          </div>
          <!-- End Breadcrumb-v1 -->

        <div class="g-pa-20">
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-30">Rendez-vous</h1>

            <header class="g-mb-20">
              <h2 class="g-font-weight-400 g-font-size-16 g-color-black mb-0">Créer un rendez-vous</h2>
            </header>

        {{ form_start(calendarForm) }}
          <div class="row">
            <div class="col-md-3 mb-5">
              {{ form_label(calendarForm.title) }}
              {{ form_widget(calendarForm.title) }}
            </div>
            <div class="col-md-3 mb-5">
              {{ form_label(calendarForm.start) }}
              {{ form_widget(calendarForm.start) }}
            </div>
            <div class="col-md-3 mb-5">
              {{ form_row(calendarForm.end) }}
            </div>
            <div class="col-md-3 mb-5">
              {{ form_row(calendarForm.communesRdv) }}
            </div>
          </div>
<<<<<<< HEAD
          <div class="row d-flex justify-content-center">
            <div class="col-md-2 mb-5">
                {{ form_row(calendarForm.background_color) }}
            </div>
            <div class="col-md-2 mb-5">
                {{ form_row(calendarForm.border_color) }}
            </div>
            <div class="col-md-2 mb-5">
                {{ form_row(calendarForm.text_color) }}
            </div>
            <div class="col-md-2 mb-5">
                {{ form_row(calendarForm.all_day) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-5 mx-auto">
=======
          <div class="row">
            <div class="col-md-4 mb-5">
                {{ form_row(calendarForm.background_color) }}
            </div>
            <div class="col-md-4 mb-5">
                {{ form_row(calendarForm.border_color) }}
            </div>
            <div class="col-md-4 mb-5">
                {{ form_row(calendarForm.text_color) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 mb-5 mx-auto">
>>>>>>> d34d4597b11bc954348de578e62551ec5dda01d1
              {{ form_label(calendarForm.description) }}
              {{ form_widget(calendarForm.description) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4  mx-auto">
              {{ form_widget(calendarForm.valider) }}
            </div>
          </div>

            

        {{ form_end(calendarForm) }}

        </div>

{% endblock %}

{% block javascripts %}

  

{% endblock %}
