{% extends 'baseAdmin.html.twig' %}

{% block body %}

{% set menu_page = "assainissement_liste" %}

 <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
          <!-- Breadcrumb-v1 -->
          <div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
            <ul class="u-list-inline g-color-gray-dark-v6">

              <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Societe</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
              </li>

              <li class="list-inline-item g-mr-10">
                <a class="u-link-v5 g-color-gray-dark-v6 g-color-secondary--hover g-valign-middle" href="#!">Gérer la page</a>
                <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
              </li>
            </ul>
          </div>
          <!-- End Breadcrumb-v1 -->


          <div class="g-pa-20">
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-30">Société</h1>

            <header class="g-mb-20">
              <h2 class="g-font-weight-400 g-font-size-16 g-color-black mb-0">Gérer la page</h2>
            </header>

            <div class="table-responsive g-mb-40">
              <table class="table u-table--v3 g-color-black">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                {% for societe in societes %}
                  <tr>
                    <td>{{ societe.description|striptags|u.truncate(50, '...')|raw }}</td>
                    <td><img src="{{ asset('assets/societe/img/') ~ societe.illustration }}" alt="societe" height="80px"></td>
                    <td>
                      <div class="g-pos-rel g-top-3 d-inline-block">
                        <a id="dropDown{{ societe.id }}Invoker" class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-secondary--hover" href="#" aria-controls="dropDown{{ societe.id }}" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#dropDown{{ societe.id }}">
                          <i class="hs-admin-more-alt"></i>
                        </a>
                        <div id="dropDown{{ societe.id }}" class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white u-dropdown--css-animation u-dropdown--hidden u-dropdown--reverse-y" aria-labelledby="dropDown{{ societe.id }}Invoker">
                          <ul class="list-unstyled g-nowrap mb-0">
                            <li>
                              <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="{{ path('admin_societe_update', {'id': societe.id}) }}">
                                <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                Modifier
                              </a>
                            </li>
                            <li>
                              <a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14 modal-trigger" href="" data-toggle="modal" data-target="#exampleModal" data-id="{{societe.id}}">
                                <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                                Supprimer
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                  
                </tbody>
              </table>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Supprimer la page</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <a href="#" class="btn btn-danger">Valider</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/societe.js') }}"></script>

{% endblock %}