{% extends 'base.html.twig' %}

{% block title %}Nos moyens - Test Ingénierie{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/moyens.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>


{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
            <div class="col-md-12 header"></div>
    </div>
    <div class="row mb-5 mt-5">
        <div class="col-md-4">
            <h2 class="mt-2 ms-5 head">Compétences</h2>
        </div>
        <div class="col-md-4">
            <h2 class="head mt-2">Nos moyens</h2>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('assets/img/opqibi.png') }}" alt="opqibi">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="nav-competences2">
                <ul>
                    <li><a href="{{ path('assainissements') }}"><img src="{{ asset('assets/img/1.png') }}" height="120px"  alt=""></a></li>
                    <li><a href="{{ path('dossiers') }}"><img src="{{ asset('assets/img/2.png') }}" height="120px"  alt=""></a></li>
                    <li><a href="{{ path('hydrologies') }}"><img src="{{ asset('assets/img/3.png') }}" height="120px"  alt=""></a></li>
                    <li><a href=""><img src="{{ asset('assets/img/4.png') }}" height="120px"  alt=""></a></li>
                    <li><a href=""><img src="{{ asset('assets/img/5.png') }}" height="120px"  alt=""></a></li>
                    <li><a href=""><img src="{{ asset('assets/img/6.png') }}" height="120px"  alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-7 assain"> 
            <div class=" d-flex justify-content-between description">
                <h4>TEST Ingénierie dispose de l’ensemble des outils permettant de répondre de façon rapide et appropriée aux différents projets liés à son domaine d’intervention.</h4>
            </div>
            {% for moyen in moyens %} 
                <div class="realisations">
                    <h4 class="text-center">{{ moyen.titre }}</h4>
                    <p class="mt-5">{{ moyen.description|raw }}</p>
                    <img src="{{ asset('assets/moyens/img/') ~ moyen.image }}" alt="{{ moyen.titre }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
